.registerforminput {
    margin-top: 7px;
    border-radius: 5px;
    font-size: 18px;
  }
  #registerBoxContainer {
    text-align: center;
  }
  .titleRegister {
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #TermsAcceptBox{
    margin-top: 17px;
    color: white;
  }
  .passwordBox{
    margin-top: 15px;
  }
  .emailBox{
    margin-top: 15px;
  }