@import url("https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap");
body {
  font-family: "Coda Caption", sans-serif;
}
h1,
p {
  margin-left: 20px;
  color: rgb(187, 187, 187);
}
.registerform {
  margin-bottom: 20px;
}